@model Clavis.Models.Room

<div style="background-color: #4a4e69; margin-top: 100px; margin-left: auto; margin-right:auto; min-height:50%" class="container login-box">
    <div class="text-center" id="login-tab">
        @if (!ViewBag.Error)
        {
            <h1 style="color: #e5e5e5; margin-bottom:50px; margin-top:50px;">@ViewBag.Room.Numer</h1>
            <h3 style="color: #e5e5e5; margin-bottom:20px; margin-top:50px;">@ViewBag.Room.Opis</h3>
            <h3 style="color: #DC143C; margin-bottom:20px; margin-top:20px;">@ViewBag.Room.Uwagi</h3>
            if (!ViewBag.Dostepnosc)
            {
                <h3 style="color: #ff6a00; margin-bottom:20px; margin-top:20px;">Nie posiadasz dostępu do tej sali</h3>
            }
            <h3 style="color: #e5e5e5; margin-bottom:20px; margin-top:20px;">Ilość miejsc w sali : @ViewBag.Room.Miejsca</h3>
        }
        else
        {
            <h3 style="color: #DC143C; margin-bottom:50px; margin-top:20px;">Nie znaleziono sali</h3>
        }

        @if (!ViewBag.Error && ViewBag.Dostepnosc)
        {
            if (ViewBag.SelectedDate == null)
            {
                <form asp-controller="User" asp-action="Room" asp-route-room_id="@ViewBag.Room.RoomsId">
                    <h4>Rezerwacja</h4>
                    <h5>Proszę wybrać date</h5>
                        <select id="date-select" class="date-picker" name="date">
                            @for (int i = 0; i < 7; i++)
                            {
                                string day = "";

                                switch (DateTime.Now.AddDays(i).DayOfWeek.ToString())
                                {
                                    case "Monday": day = "Poniedziałek"; break;
                                    case "Tuesday": day = "Wtorek"; break;
                                    case "Wednesday": day = "Środa"; break;
                                    case "Thursday": day = "Czwartek"; break;
                                    case "Friday": day = "Piątek"; break;
                                    case "Saturday": day = "Sobota"; break;
                                    case "Sunday": day = "Niedziela"; break;
                                }
                                string datestring = DateTime.Now.AddDays(i).ToShortDateString() + " " + day;
                                <option value="@i.ToString()" id="@i.ToString()" name="datetime">@datestring</option>
                            }
                        </select>
                        <button class="login-button" type="submit">Dodaj rezerwacje</button>
                </form>
            }
            else
            {
                <form asp-controller="User" asp-action="Room" asp-route-room_id="@ViewBag.Room.RoomsId" asp-route-date="@ViewBag.SelectedDate">
                    <h4>Rezerwacja</h4>
                    @{
                        DateTime data = DateTime.Now.Date.AddDays(ViewBag.SelectedDate);
                    }
                    <h5>Wybrana data : @data.ToShortDateString()</h5>
                    <h5>Proszę wybrać z listy wolnych godzin :</h5>
                    <select id="date-select" class="date-picker" name="time">
                        @for (int i = 0; i < 8; i++)
                        {
                            string timestring = DateTime.MinValue.AddHours(7).AddMinutes(90*i).ToShortTimeString() + " : " + DateTime.MinValue.AddHours(7).AddMinutes(90 * (i+1)).ToShortTimeString();
                            if (ViewBag.Terms[i] != -1)
                            {
                                <option value="@i.ToString()">@timestring</option>
                            }                          
                        }
                    </select>
                    <button class="login-button" type="submit">Zatwierdź</button>
                </form>
            }

        }

    </div>
</div>

<!--container box-shadow d-sm-flex align-items-center justify-content-center -->