@model Clavis.Models.Room

<div style="background-color: #4a4e69; margin-top: 100px; margin-left: auto; margin-right:auto; width:70%; min-height:50%" class="container login-box">
    <div class="text-center" id="login-tab">
        @if (!ViewBag.Error)
        {
            <h1 style="color: #e5e5e5; margin-bottom:50px; margin-top:50px;">@ViewBag.Title</h1>
            <h3 style="color: #e5e5e5; margin-bottom:20px; margin-top:50px;">@ViewBag.Desc</h3>
            <h3 style="color: #DC143C; margin-bottom:20px; margin-top:20px;">@ViewBag.Uwagi</h3>
            if (!ViewBag.Dostepnosc)
            {
                <h3 style="color: #ff6a00; margin-bottom:20px; margin-top:20px;">Nie posiadasz dostępu do tej sali</h3>
            }
            <h3 style="color: #e5e5e5; margin-bottom:20px; margin-top:20px;">Ilość miejsc w sali : @ViewBag.Miejsca</h3>
        }
        else
        {
            <h3 style="color: #DC143C; margin-bottom:50px; margin-top:20px;">Nie znaleziono sali</h3>
        }

        @if (!ViewBag.Error && ViewBag.Dostepnosc)
        {
            <form>
                <div class="d-block" style="margin-top: 50px;">
                    <label>Wybierz date : </label>
                    <select class="date-picker" name="date">
                        @for (int i = 0; i < 7; i++)
                        {
                            string day = "";

                            switch (DateTime.Now.AddDays(i).DayOfWeek.ToString())
                            {
                                case "Monday": day = "Poniedziałek"; break;
                                case "Tuesday": day = "Wtorek"; break;
                                case "Wednesday": day = "Środa"; break;
                                case "Thursday": day = "Czwartek"; break;
                                case "Friday": day = "Piątek"; break;
                                case "Saturday": day = "Sobota"; break;
                                case "Sunday": day = "Niedziela"; break;
                            }
                            string datestring = DateTime.Now.AddDays(i).ToShortDateString() + " " + day;
                            <option value="@i.ToString()" id="@i.ToString()">@datestring</option>
                        }
                    </select>
                </div>
                <div class="d-block" style="margin-top: 50px;">
                    <label>Wybierz godzinę : </label>
                    <select class="time-picker" name="time">
                        @for (int i = 0; i < 8; i++)
                        {
                            string timestring = DateTime.MinValue.AddMinutes(90 * i).ToShortTimeString() + " do " + DateTime.MinValue.AddMinutes(90 * (i + 1)).ToLongTimeString();
                            string idstring = "t" + @i.ToString();
                            <option value="@i.ToString()" id="idstring">@timestring</option>
                        }
                    </select>
                </div>
            </form>            
        }

    </div>
</div>

<!--container box-shadow d-sm-flex align-items-center justify-content-center -->